

#item_content {width:100%;  margin-right:15%; margin-left:15%;}




.best_slider > li > img {
	width:100%; margin:5px;/* padding-right:15%; padding-left:15% */;
	height:auto;

}

.sale_slider > li > img {
	width:100%; margin:5px;/*  padding-right:15%; padding-left:15% */;
	height:auto;

}